<div>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <button class="btn btn-primary">Hello daisyUI!</button>
  <span class="text-rotate text-7xl">
  <span class="justify-items-center">
    <span>DESIGN</span>
    <span>DEVELOP</span>
    <span>DEPLOY</span>
    <span>SCALE</span>
    <span>MAINTAIN</span>
    <span>REPEAT</span>
  </span>
</span>
  <p>Find me in app/views/home/index.html.erb</p>
</div>
